.key {
  width: 25%;
  height: 14vh;
  min-height: 10px;
  border: 1px solid white;
  border-radius: 0;
  font-size: 4vh;
  background-color: #bdc8d0;
  cursor: pointer;
  box-sizing: border-box;
}

.key.wide {
  width: 50%;
}

.key.blue {
  background-color: #299bff;
  color: white;
}

.key:hover {
  background-color: #92a4b1;
}

.key.blue:hover {
  background-color: #1b8bec;
}

.screen {
  width: 100%;
  height: 20vh;
  min-height: 10px;
  background-color: #3b3e41;
  word-wrap: break-word;
  color: white;
  padding: 8px;
  font-size: 6vh;
  box-sizing: border-box;
}

.key.small {
  width: 20%;
  height: 10vh;
  min-height: 10px;
  background-color: lightgrey;
}

.key.small:hover {
  background-color: darkgray;
}
